<div class = "content">
  <h2> <%= @user.username %>'s Profile </h2>

  <div id = "profile-picture">
    <% if session[:user_id] == @user.id %>
      <% if @user.profile_image %>
      <%= image_tag @user.profile_image %>
      <% elsif @user.avatar.file? %>
      <%= image_tag @user.avatar.url %>
      <% end %>
    <% end %>
  </div>

    <ul class = "user-profile" >
      <div li class = "profile-questions"><h3><%= @user.username %> has asked <%= @user.questions.count %> questions</h3></li>
        <ul>
          <% @user.questions.each do |question| %>
            <li><%= link_to question.title, question_path(question) %></li>
          <% end %>
        </ul>
      </div>
      <div li class = "profile-questions"><h3> <%= @user.username %>  answered <%= @user.answers.count %> Answers</h3>
        <ul>
        <% @user.answers.each do |answer| %></li>
          <li class = "profile-question"><%= link_to answer.question.title, question_path(answer.question) %></li>
            <ul>
              <li class = "profile-answer"><%= answer.body %></li>
            </ul>
          </li>
        <% end %>
        </ul>
      </div>
    </ul>
</div>
