<h2> <%= @user.username %>'s Profile </h2>
  <ul class = "user_profile" >
    <h3> This user asked <%= @user.questions.count %> questions</h2>
      <% @user.questions.each do |question| %>
        <li><%= link_to question.title, question_path(question) %></li>
      <% end %>

    <h3> This user answered <%= @user.answers.count %> Answers</h2>
      <% @user.answers.each do |answer| %>
        <li>
          <%= link_to answer.question.title, question_path(answer.question) %>
          <ul>
            <li><%= answer.body %></li>
          </ul>
        </li>
      <% end %>

      <%= button_to "Edit", edit_user_path(@user), {method: "get"} %>

  </ul>
</div>