<div class = "nav">
  <ul>
    <li id = "search-bar">
    <%= form_tag tags_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Tags" %>
    <% end %> </li>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Tags', tags_path %></li>
    <li><%= link_to 'Recent', recent_path %></li>
  <% if session[:user_id] %>
    <li><%= link_to 'Profile', profile_path(current_user) %></li>
    <li><%= link_to 'Shaq a Question!', new_question_path %></li>
    <li><%= link_to 'Log out', logout_path %></li>
  <% else %>
    <li><%= link_to 'Register', register_path %></li>
    <li><%= link_to 'Log in', login_path %></li>
  <% end %>
  </ul>
</div>
